<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
  		<typeAlias alias="Author" type="domain.blog.Author">
  		<typeAlias alias="Blog" type="domain.blog.Blog"/>
  		<typeAlias alias="Comment" type="domain.blog.Comment"/>
  		<typeAlias alias="Post" type="domain.blog.Post"/>
  		<typeAlias alias="Section" type="domain.blog.Section"/>
  		<typeAlias alias="Tag" type="domain.blog.Tag"/>
	</typeAliases>
</configuration>